# Exclude everything by default
/*

# Include basic dot files at root level
!/.gitignore
!/.profile
!/.bashrc
!/.gitconfig
!/.zshrc

# Include SSH config
!/.ssh
/.ssh/*
!/.ssh/config

# Include .config/
!/.config
/.config/*

# Include .config/nvim/init.vim
!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim

# Include .vim/autoload/plug.vim
!/.vim
/.vim/*
!/.vim/autoload
/.vim/autoload/*
!/.vim/autoload/plug.vim

# Include .config/Code/User/settings.json
!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/settings.json

# Include .gnupg/gpg-agent.conf
!/.gnupg
/.gnupg/*
!/.gnupg/gpg-agent.conf

# Include .config/xfce4
!/.config/xfce4

# .local/share/xfce4
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!.local/share/xfce4

# Include .config/htop/htoprc 
!.config/htop
