[user]
	signingkey = BA97F9F40851EEB65A6FF0564DF471E928FC76C3
	name = Alexander James Candfield
	email = alex.candfield@gmail.com

[commit]
	gpgsign = true

[credential]
	helper = cache --timeout=86400

[alias]
	root = rev-parse --show-toplevel
	st = status

[rebase]
	autoStash = true

[init]
	defaultBranch = main

[delta]
  navigate = true

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[core]
	editor = nvim
  # Don't consider trailing space change as a cause for merge conflicts
	whitespace = -trailing-space

[diff]
  # Use better, descriptive initials (c, i, w) instead of a/b.
  mnemonicPrefix = true
  # Show renames/moves as such
  renames = true
  colourMoved = default

[tag]
	# Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
	sort = version:refname
	gpgsign = true
  forceSignAnnotated = true

[color]
	ui = true

[pull]
  rebase = false

[fetch]
	prune = true

[status]
	short = true
	branch = true
	showStash = true
	aheadBehind = true
	verbose = true

[push]
	followTags = true

