# Import this snippet in your main `~/.ssh/config` with the following statement at the top of the file:
#
# Include ~/.ssh/config.d/*

Host ajcandfield.github.com
  User git
  Hostname github.com
  IdentityFile ~/.ssh/ajcandfield_id_ed25519

Host idlayr.github.com
  User git
  Hostname github.com
  IdentityFile ~/.ssh/idlayr_id_ed25519

